<% provide(:title, 'Home') %>
<div class="row align-items-center h-100">
    <div class='col-md-6 mx-auto'>
        <div class="text-center">
            <h1 class="display-4">Welcome to The OSU Book Exchange</h1>
            <p class="lead">Please search for a book below</p>
                          
        </div>
    </div>
</div>
