<footer class="footer pt-1 mt-4">
  <small class='float-left pl-2'>
    © <%= Date.today.year %> MySpace App.
  </small>
  <nav>
    <ul class='float-right footer-list'>
      <li class='float-left ml-3'><%= link_to "About", about_path %></li>
      <li class='float-left ml-3 pr-2'><%= link_to "Help", '/help' %></li>
    </ul>
  </nav>
</footer>